body {
    background-color: black;
    color: white;
}

.header {
    color: #ddd;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    float: left;
    margin-left: 20px;
}

.headerRight {
    display: flex;
    align-items: center;
}

.highScoreContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.option {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    background-color: black;
    color: white;
    /* height: 30px; */
    padding: 10px;
    align-items: center;
}

.gameBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221 221 221 / 20%);
    padding-bottom: 20px;
}

.stats, .difficulty, .mode{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.wpm, .accuracy, .difficulty {
    border-right: 1px solid rgb(221 221 221 / 20%);
}

.gameContainer {
    margin: 100px auto;
    width: 60%;
    height: 60%;
}

.passageContainer {
    font-size: 24px;
    color: gray;
    padding: 20px;
    border-bottom: 1px solid rgb(221 221 221 / 20%);
}

.selected {
    border: 1px solid rgb(37, 120, 214);
    color: rgb(37, 120, 214);
}